{% include "nav.html" %}
{% from "_formhelpers.html" import render_field %}

<body>
    <div class="main">
        <div class="title">
            <h1>Edit Category</h1>
        </div>
        <div class="content formformat">
            <form action="{{ url_for('categories.editCategory',category_id = category.id)}}" method="post">
                <label>Name:</label><br>
                <input name="name" type="text" value="{{category.name}}"><br>
                <label>Description:</label><br>
                <textarea name="description" type="text">{{category.description}}</textarea><br>
                <input type="submit" value="Create">
                <input type="submit" value="Cancel">
                {{ form.csrf_token }}
            </form>
        </div>
    </div>
</body>
</html>