{% include "nav.html" %}
<div class="main">
    <form method="post" action="/">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
    <div class="title">
        <h1>{{ category.name }}
        </h1>
        <a href="{{url_for('newItem', category_id = category.id)}}">New Item |</a>
        <a href="{{url_for('editCategory', category_id = category.id)}}">
            Edit |</a>
        <a href="{{url_for('deleteCategory', category_id = category.id) }}">Delete</a>
    </div>
    <div class="content">
        <ul>
            {% for i in items %}
                <li>
                    <a href="{{ url_for('viewItem', category_id = category.id, item_id = i.id)}}">{{i.name}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
</div>