<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Code Catalog</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="google-signin-clientid" content="525001115239-o1dkiihphtme5mcqmb829l7m3a6qecq0.apps.googleusercontent.com">
		<!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script> -->
		<link href="https://fonts.googleapis.com/css?family=Muli|Antic+Slab" rel="stylesheet">
		<script src="https://apis.google.com/js/platform.js?onload=start"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='simplegrid.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='responsive-nav.css') }}">
		<script src="{{ url_for('static', filename='responsive-nav.js') }}"></script>
		<script>
			var doc = document,
				docEl = doc.documentElement;
			docEl.className = docEl.className.replace(/(^|\s)no-js(\s|$)/, " js ");
		</script>
	</head>
	<body>
		<div role="navigation" id="nav" class="nav-collapse">
			<ul>
				<li class="active">
					<a href="{{ url_for('home') }}">Home</a>
				</li>
				{% if current_user.is_authenticated %}
					<li>
						<a href="{{ url_for('newCategory') }}">
							New Category</a>
					</li>
					<li>
						<a href="{{ url_for('userCategories')}}">
							My Categories</a>
					</li>
					<li>
						<a href="">
							My Items</a>
					</li>
				</ul>
			</div>
		{% else %}
			<li>
				<a href="{{ url_for('showLogin')}}">Sign in</a>
			</li>
		</ul>
	</div>
{% endif %}
<div class="main">
	<div class="navicon">
		<a href="#nav" id="toggle" class="test">☰</a>
	</div>
	<script>
		var navigation = responsiveNav("#nav", {customToggle: "#toggle"});
	</script>
</div>