{% include "nav.html" %}
{% from "_formhelpers.html" import render_field %}

<html>
    <body>
        <div class="main">
            <div class="title">
                <h1>New Category</h1>
            </div>
            <div class="content">
                <form action="{{ url_for('newCategory') }}" method="post">
                    <label>Name:</label>
                    <input name="name" type="text" value="">
                    <label>Description:</label>
                    <textarea name="description" type="text" value=""></textarea>
                    <input type='submit' value='Create'></input>

                    {{ form.csrf_token }}
                </form>
            </div>
        </div>
    </body>
</html>