{% include "nav.html" %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <div class="main">
            <div class="title">
                <h1>My Categories</h1>
            </div>
            <div class="content">
                {% for c in categories %}
                    <a href="{{ url_for('viewCategory', category_id = c.id) }}">{{c.name}}</a>
                {% endfor %}
            </div>
        </div>

    </body>
</html>